<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
         http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="projectResourceOnlyGet" class="com.github.alien11689.webservices.restwithspring03.onemethod.ProjectResourceWithGet"/>

    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>

    <bean id="projectResourceManyMethods" class="com.github.alien11689.webservices.restwithspring03.manymethods.ProjectResourceWithManyMethods"/>

    <bean id="projectResourceWithUriInfo" class="com.github.alien11689.webservices.restwithspring03.uriinfo.ProjectResourceWithUriInfo"/>

    <bean id="projectResourceWithParameters" class="com.github.alien11689.webservices.restwithspring03.parameters.ProjectResourceWithParameters"/>

    <bean id="projectResourceWithInterface" class="com.github.alien11689.webservices.restwithspring03.withInterface.ProjectResourceInterfaceImpl"/>

    <bean id="projectResourceWithExceptions" class="com.github.alien11689.webservices.restwithspring03.exceptions.raw.ProjectResourceWithExceptions"/>
    <bean id="projectResourceWithWebApplicationExceptions" class="com.github.alien11689.webservices.restwithspring03.exceptions.webapplication.ProjectResourceWithWebApplicationExceptions"/>
    <bean id="projectResourceWithResponses" class="com.github.alien11689.webservices.restwithspring03.responseasout.ProjectResourceWithRawResponses"/>

    <bean id="changesResourceWithCache" class="com.github.alien11689.webservices.restwithspring03.caching.ChangesResourceWithCache"/>

    <bean id="asyncProjectResource" class="com.github.alien11689.webservices.restwithspring03.async.simple.AsyncProjectResource"/>
    <bean id="realAsyncProjectResource" class="com.github.alien11689.webservices.restwithspring03.async.real.RealAsyncProjectResource"/>
    <bean id="projectResourcePathVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.path.ProjectResourcePathVersion"/>
    <bean id="projectResourceQueryVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.query.ProjectResourceQueryVersion"/>
    <bean id="projectResourceMediatypeVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.mediatype.ProjectResourceMediaTypeVersion"/>
    <bean id="projectResourceMediatypeParameterVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.mediatype.parameter.ProjectResourceMediaTypeParameterVersion"/>

    <!-- Swagger API listing resource -->
    <bean id="swaggerResourceJSON" class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON"/>

    <!-- Swagger writers -->
    <bean id="resourceWriter" class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider"/>
    <bean id="apiWriter" class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider"/>

    <bean id="projectResourceWithSwagger" class="com.github.alien11689.webservices.restwithspring03.swagger.ProjectResourceWithSwagger"/>

    <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="com.github.alien11689.webservices.restwithspring03.swagger"/>
        <property name="version" value="1.0.0"/>
        <property name="basePath" value="http://localhost:8080/03RestWithSpring/api1"/>
        <property name="title" value="Swagger example"/>
        <property name="description" value="Simple example with service"/>
        <property name="contact" value="alien11689@gmail.com"/>
        <property name="license" value="Apache 2.0 License"/>
        <property name="licenseUrl" value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
        <property name="scan" value="true"/>
    </bean>

    <bean id="projectResourceWithLinks" class="com.github.alien11689.webservices.restwithspring03.links.ProjectResourceWithLinks"/>

    <bean id="simpleSubresourceProjectDb" class="com.github.alien11689.webservices.restwithspring03.subresources.simple.SimpleSubresourceProjectDb"/>

    <bean id="simpleSubresourceProjectResource" class="com.github.alien11689.webservices.restwithspring03.subresources.simple.ProjectResource">
        <constructor-arg ref="simpleSubresourceProjectDb"/>
    </bean>

    <bean id="simpleSubresourceChangeResource" class="com.github.alien11689.webservices.restwithspring03.subresources.simple.ChangeResource">
        <constructor-arg ref="simpleSubresourceProjectDb"/>
    </bean>

    <bean id="realSubresourceProjectDb" class="com.github.alien11689.webservices.restwithspring03.subresources.real.RealSubresourceProjectDb"/>

    <bean id="realSubresourceProjectResource" class="com.github.alien11689.webservices.restwithspring03.subresources.real.ProjectResource">
        <constructor-arg ref="realSubresourceProjectDb"/>
    </bean>

    <bean id="realSubresourceChangeResource" class="com.github.alien11689.webservices.restwithspring03.subresources.real.ChangeResource">
        <constructor-arg ref="realSubresourceProjectDb"/>
    </bean>

    <cxf:bus id="cxf">
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <jaxrs:server id="server"
                  address="/"
                  bus="cxf">
        <jaxrs:serviceBeans>
            <ref bean="projectResourceOnlyGet"/>
            <ref bean="projectResourceManyMethods"/>
            <ref bean="projectResourceWithUriInfo"/>
            <ref bean="projectResourceWithParameters"/>
            <ref bean="projectResourceWithInterface"/>
            <ref bean="projectResourceWithExceptions"/>
            <ref bean="projectResourceWithWebApplicationExceptions"/>
            <ref bean="projectResourceWithResponses"/>
            <ref bean="changesResourceWithCache"/>
            <ref bean="asyncProjectResource"/>
            <ref bean="realAsyncProjectResource"/>
            <ref bean="projectResourcePathVersion"/>
            <ref bean="projectResourceQueryVersion"/>
            <ref bean="projectResourceMediatypeVersion"/>
            <ref bean="projectResourceMediatypeParameterVersion"/>
            <ref bean="swaggerResourceJSON"/>
            <ref bean="projectResourceWithSwagger"/>
            <ref bean="projectResourceWithLinks"/>
            <ref bean="simpleSubresourceProjectResource"/>
            <ref bean="simpleSubresourceChangeResource"/>
            <ref bean="realSubresourceProjectResource"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider"/>
            <ref bean="resourceWriter"/>
            <ref bean="apiWriter"/>
        </jaxrs:providers>
    </jaxrs:server>

</beans>