<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
         http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="projectServiceOnlyGet" class="com.github.alien11689.webservices.restwithspring03.onemethod.ProjectServiceWithGet"/>

    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>

    <bean id="projectServiceManyMethods" class="com.github.alien11689.webservices.restwithspring03.manymethods.ProjectServiceWithMoreMethods"/>

    <bean id="projectServiceWithUriInfo" class="com.github.alien11689.webservices.restwithspring03.uriinfo.ProjectServiceWithUriInfo"/>

    <bean id="projectServiceWithParameters" class="com.github.alien11689.webservices.restwithspring03.parameters.ProjectServiceWithParameters"/>

    <bean id="projectServiceWithInterface" class="com.github.alien11689.webservices.restwithspring03.withInterface.ProjectServiceWithInterfaceImpl"/>

    <bean id="projectServiceWithExceptions" class="com.github.alien11689.webservices.restwithspring03.exceptions.raw.ProjectServiceWithExceptions"/>
    <bean id="projectServiceWithWebApplicationExceptions" class="com.github.alien11689.webservices.restwithspring03.exceptions.webapplication.ProjectServiceWithWebApplicationExceptions"/>
    <bean id="projectServiceWithResponses" class="com.github.alien11689.webservices.restwithspring03.responseasout.ProjectServiceWithResponses"/>

    <bean id="changesServiceWithCache" class="com.github.alien11689.webservices.restwithspring03.caching.ChangesServiceWithCache"/>

    <bean id="asyncProjectService" class="com.github.alien11689.webservices.restwithspring03.async.AsyncProjectService"/>
    <bean id="realAsyncProjectService" class="com.github.alien11689.webservices.restwithspring03.async.RealAsyncProjectService"/>
    <bean id="projectServicePathVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.path.ProjectServicePathVersion"/>
    <bean id="projectServiceQueryVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.query.ProjectServiceQueryVersion"/>
    <bean id="projectServiceMediatypeVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.mediatype.ProjectServiceMediatypeVersion"/>
    <bean id="projectServiceMediatypeParameterVersion" class="com.github.alien11689.webservices.restwithspring03.versioning.mediatype.parameter.ProjectServiceMediatypeParameterVersion"/>

    <cxf:bus id="cxf">
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <jaxrs:server id="server"
                  address="/"
                  bus="cxf">
        <jaxrs:serviceBeans>
            <ref bean="projectServiceOnlyGet"/>
            <ref bean="projectServiceManyMethods"/>
            <ref bean="projectServiceWithUriInfo"/>
            <ref bean="projectServiceWithParameters"/>
            <ref bean="projectServiceWithInterface"/>
            <ref bean="projectServiceWithExceptions"/>
            <ref bean="projectServiceWithWebApplicationExceptions"/>
            <ref bean="projectServiceWithResponses"/>
            <ref bean="changesServiceWithCache"/>
            <ref bean="asyncProjectService"/>
            <ref bean="realAsyncProjectService"/>
            <ref bean="projectServicePathVersion"/>
            <ref bean="projectServiceQueryVersion"/>
            <ref bean="projectServiceMediatypeVersion"/>
            <ref bean="projectServiceMediatypeParameterVersion"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>

</beans>